/* Write your CSS here */
.bg-container {
  background-color: #ffd569;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
}

.number {
  color: #ffd569;
}

.card {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.mango-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 200px;
  height: 300px;
  margin-bottom: 10px;
}

.button1 {
  background-color: #007bff;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-family: 'Roboto';
  height: 30px;
  width: 90px;
}
